#search-mot-container{
    width: 30%;
    height: 100%;
    float: left;
}

.form-search-motorista{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
}

.search-mot-title{
    width: 100%;
    float: left;
    color: #272727;
    font-weight: normal;
    margin-top: 5%;
    margin-left: 25%;
}



.txt-mot-search{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    border-color: #969696;
    height: 20px;
    border-radius: 4px;

}
.txt-mot-search:focus{
    border-color: #3e75a8;
    border-radius: 4px;
}

.lblmotStatus{
    float: left;
    width: 20%;
    margin-top: 4%;
    margin-left: 5%;
    color: #272727;
    font-size: 0.9em;
}

.search-sel-usu-status{
    width: 40%;
    float: left;
    margin-top: 4%;
    margin-left: 1%;
}

.btn-search-motorista{
    width: 25%;
    float: left;
    height: 1.9em;
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 0.5em;
    border: none;
    background-color: #7692bb;
    color: #f2f2f2;
}

.btn-search-motorista:hover{
    width: 25%;
    float: left;
    height: 1.9em;
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 0.5em;
    background-color: #272727;
    cursor: pointer;
}