#header-container{  
    width: 100%;
    height: 100%;
}


#logo-div{
    background-color: #272727;
    width: 50%;
    height: 100%;
    float: left;
}

#user-div{
    background-color: #272727;
    width: 50%;
    height: 100%;
    float: right;
}
#logo-lbl2{
    color: #B98602;
    text-transform: uppercase;
    font-size: 1.5em;
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 2%;
    margin-left: 15%;
}
#slogan-lbl2{
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 1em;
    float: left;
    width: 100%;
    text-align: left;   
    margin-left: 5%; 

}