#grid-data-container{
    width: 100%; 
    height: auto;
    float: left; 
}


.grid-read{
    width: 100%;
    float: left;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid #a5a18b;
    position: static;
    padding-top: 5px;
    padding-bottom: 5px;

}

.grid-read:hover{
    width: 100%;
    float: left;
    text-align: left;
    background-color: #E9DA8F;
    cursor: pointer;
    transition: 0.3s;
    position: static;
    padding-top: 5px;
    padding-bottom: 5px;

}


.grid-read-hidden{
    float: left;
    visibility: hidden;
    position: absolute;

}


.rotulo_os{
    width: 6%;
    float: left;
    font-size: 0.8em;
    color: #272727;
    margin-left: 1%;
    max-height: 2.5em;
    overflow: hidden;
}
.rotulo_dtSol{
    width: 10%;
    float: left;
    font-size: 0.8em;
    color: #272727;
    margin-left: 1%;
    max-height: 2.5em;
    overflow: hidden;

}
.rotulo_sol{
    width: 15%;
    float: left;
    font-size: 0.8em;
    color: #272727;
    margin-left: 1%;
    max-height: 2.5em;
    overflow: hidden;
    
}
.rotulo_emp{
    width: 10%;
    float: left;
    font-size: 0.8em;
    color: #272727;
    margin-left: 1%;
    max-height: 2.5em;
    overflow: hidden;


}
.rotulo_nomePass{
    width: 10%;
    float: left;
    font-size: 0.8em;
    color: #272727;
    margin-left: 1%;
    max-height: 2.5em;
    overflow: hidden;
}
.rotulo_telPass{
    width: 10%;
    float: left;
    font-size: 0.8em;
    color: #272727;
    margin-left: 1%;
    max-height: 2.5em;
    overflow: hidden;
}
.rotulo_dtEmb{
    width: 10%;
    float: left;
    font-size: 0.8em;
    color: #272727;
    margin-left: 1%;
    max-height: 2.5em;
    overflow: hidden;
}
.rotulo_mot{
    width: 12%;
    float: left;
    font-size: 0.8em;
    color: #272727;
    margin-left: 1%;
    max-height: 2.5em;
    overflow: hidden;
}
.rotulo_status{
    width: 8%;
    float: left;
    font-size: 0.8em;
    color: #272727;
    margin-left: 1%;
    max-height: 2.5em;
    overflow: hidden;
}
