#main-container{  
    height: 100vh;
    width: 100%;

}


#main-header{
    width: 100%;
    height: 10vh;
    float: left;

    
}

#main_content{
    width: 100%;
    height: 100vh;
    float: left;
    margin-top: 13.5vh;
}


#main-footer{
    width: 100%;
    height: 20vh;
    float: left;

}


#logout-visible{
    width: 200px;
    height: 100px;
    position: fixed;
    float: left;
    margin-left: 40%;
    margin-top: 35vh;
    visibility: visible;
    background-color: #eed962;
    border-radius: 5%;
    text-align: center;
}
#logout-hidden{
    visibility: hidden;
    position: fixed;
    float: left;

}

.logout-message{
    color: #272727;
    float: left;
    width: 100%;
    margin-top: 5%;
}

.btn-logout{
    float: left;
    width: 40%;
    height: 30%;
    margin-top: 10%;
    margin-left: 7%;
    border-radius: 10px;
    border: none;
    background-color: #f2f2f2;
    cursor: default;
}

.btn-logout:hover{
    float: left;
    width: 40%;
    height: 30%;
    margin-top: 10%;
    margin-left: 7%;
    border-radius: 10px;
    border: none;
    background-color: #9cb0ce;
    cursor: pointer;

}

#top-level{
    float: left;
    position: fixed;
    width: 100%;
    height: 10vh;
}

#left-main-content{
    width:75%;
    height: 80%;
    float: left;
}

#lista-viagens{
    width: 100%;
    height: 100%;
    float: left;
    overflow: scroll;
}

#search-block{
    width: 100%;
    height: 20%;
    float: left;
    background-color: #faf1be;
}

#labels-grid-viagem{
    width: 100%;
    height: 5vh;
    background-color: #c9d1dd;
    float: left;
    text-align: center;

}
.rotulo-via-lbl{
    width: 100%;
    float: left;
    background-color: #9cb0ce;

}
.os-lbl-grid{
    margin-top: 2px;
    float: left;
    margin-left: 0.5%;
    text-align: left;
    color: #272727;
    font-size: 0.8em;
}
.dtSol-lbl-grid{
    margin-top: 2px;
    float: left;
    margin-left: 4%;
    text-align: left;
    color: #272727;
    font-size: 0.8em;
}

.solic-lbl-grid{
    margin-top: 2px;
    float: left;
    margin-left: 3%;
    text-align: left;
    color: #272727;
    font-size: 0.8em;
}
.pass-lbl-grid{
    margin-top: 2px;
    float: left;
    margin-left: 9%;
    text-align: left;
    color: #272727;
    font-size: 0.8em;
}
.telPass-lbl-grid{
    margin-top: 2px;
    float: left;
    margin-left: 4%;
    text-align: left;
    color: #272727;
    font-size: 0.8em;
}
.emp-lbl-grid{
    margin-top: 2px;
    float: left;
    margin-left: 1.5%;
    text-align: left;
    color: #272727;
    font-size: 0.8em;
}
.dtEmb-lbl-grid{
    margin-top: 2px;
    float: left;
    margin-left: 10%;
    text-align: left;
    color: #272727;
    font-size: 0.8em;
}

.mot-lbl-grid{
    margin-top: 2px;
    float: left;
    margin-left: 3.5%;
    text-align: left;
    color: #272727;
    font-size: 0.8em;
}

.status-lbl-grid{
    margin-top: 2px;
    float: left;
    margin-left: 9.5%;
    text-align: left;
    color: #272727;
    font-size: 0.8em;
}

.labels-grid-hidden{
    position: absolute;
    visibility: hidden;
}

.divisoriaMain {
    float: left;
    width: 1px;
    background-color: #7e6f1d;
    height: 14vh;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 1%;
}
