.grid-container {
    width: 100%;
    float: left;
}

.grid-mot-edit {
    width: 100%;
    float: left;
    background-color: #d8d8d8;
    position: static;
    transition: 300ms;
    border-radius: 0 0 30px 30px;
}

.grid-mot-edit-hidden {
    float: left;
    visibility: hidden;
    position: relative;
    width: 0;
    /*transition: 300ms;*/
}


.mot-divisoria {
    float: left;
    width: 1px;
    background-color: #7e6f1d;
    height: 35vh;
    margin-top: 2%;
    margin-right: 2%;
}

.secaoMotDados {
    min-width: 15%;
    max-width: 40%;
    float: left;
    height: 35vh;

}

.secaoVeicDados {
    width: 47.5%;
    float: left;
    height: 43vh;

}

.secaoMotButtons {
    width: 100%;
    float: left;
    padding: 5px;
    text-align: center;
    height: 3vh;
}

.secaoMotRetrair {
    width: 100%;
    height: 2em;
    float: left;
    background-color: #acacac;
    border-radius: 0 0 30px 30px;
    font-size: 0.9em;
    color: #272727;
    text-align: center;
}

.secaoMotRetrair:hover {
    width: 100%;
    float: left;
    background-color: #5080a8;
    text-align: center;
    cursor: pointer;
    height: 2em;
    font-size: 0.9em;
    color: #272727;
}


.msgMotStatus {
    float: left;
}

#icon-mot-edit {
    width: 3%;
    height: 3.5vh;
    position: absolute;
    left: 2.5%;
}

#icon-mot-edit:hover {
    width: 3%;
    height: 3.5vh;
    cursor: pointer;
    background-color: #fff48e;
    border-radius: 15px;
}

#icon-mot-confirm {
    width: 3%;
    height: 3.5vh;
    left: 9%;
    position: absolute;
}

#icon-mot-confirm:hover {
    width: 3%;
    height: 3.5vh;
    cursor: pointer;
    background-color: #3cc264;
    border-radius: 15px;
}


.edit-motor-rotulo {
    float: left;
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
    color: #272727;
    margin-top: 10px;
    margin-left: 10%;
}

.edit-veic-rotulo {
    float: left;
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
    color: #272727;
    margin-top: 10px;
    margin-left: 10%;
}

.edit-motor-rotulo-hidden {
    float: left;
    width: 0;
    position: absolute;
    visibility: hidden;
}

.edit-motor-nome {
    float: left;
    width: 80%;
    font-size: 1em;
    color: #7e6f1d;
    margin-left: 10%;

}


.edit-motor-cpf {
    width: 80%;
    float: left;
    color: #7e6f1d;
    font-size: 1em;
    margin-left: 10%;
    margin-right: 10%;

}

.edit-motor-tel {
    width: 40%;
    float: left;
    color: #7e6f1d;
    font-size: 1em;
    margin-left: 10%;
    margin-right: 50%;

}
.edit-motor-sexo {
    width: 35%;
    float: left;
    color: #7e6f1d;
    font-size: 1em;
    margin-left: 10%;
    margin-right: 55%;

}
.edit-motor-nasc {
    width: 40%;
    float: left;
    color: #7e6f1d;
    font-size: 1em;
    margin-left: 10%;
    margin-right: 50%;

}

.edit-motor-status {
    width: 40%;
    float: left;
    color: #7e6f1d;
    font-size: 1em;
    margin-left: 10%;

}



.motorista-title-lbl{
    width: 70%;
    float: left;
    margin-left: 30%;
    margin-top: 10px;
    color:#272727;
}

.veiculo-title-lbl{
    width: 60%;
    float: left;
    margin-left: 40%;
    margin-top: 10px;
    color:#272727;
}

.edit-veic-marca{
    width: 40%;
    float: left;
    margin-left: 10%;
    color: #7e6f1d;
    font-size: 1em;
}
.edit-veic-modelo{
    width: 40%;
    float: left;
    margin-left: 10%;
    color: #7e6f1d;
    font-size: 1em;
}
.edit-veic-ano{
    width: 40%;
    float: left;
    margin-left: 10%;
    color: #7e6f1d;
    font-size: 1em;
}
.edit-veic-cor{
    width: 40%;
    float: left;
    margin-left: 10%;
    color: #7e6f1d;
    font-size: 1em;
}
.edit-veic-placa{
    width: 40%;
    float: left;
    margin-left: 10%;
    color: #7e6f1d;
    font-size: 1em;
}
.edit-veic-viatura{
    width: 40%;
    float: left;
    margin-left: 10%;
    color: #7e6f1d;
    font-size: 1em;
}

.edit-motor-data-hidden{
    width: 0;
    float: left;
    position: absolute;
    visibility: hidden;
}